<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>302</error-code>
        <location>/error/302.html</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/error/403.html</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jsp</location>
    </error-page>


    <!--
        @Desc servlet 路径映射
        @URI http://localhost:8080/hello
    -->
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>work.comeback.omo.controller.HelloServlet</servlet-class>
    </servlet>

    <!-- 
        @Desc WebListener 监听 web 数据变化
        @Path work.comeback.omo.controller.listener.WebListener
    -->
    <listener>
        <listener-class>work.comeback.omo.controller.listener.WebListener</listener-class>
    </listener>

    <!--
        @Desc WebAttributeListener 监听 web 数据变化
        @Path work.comeback.omo.controller.listener.WebAttributeListener
    -->
    <listener>
        <listener-class>work.comeback.omo.controller.listener.WebAttributeListener</listener-class>
    </listener>

    <!--
        @Desc RequestTotalListener 监听 请求量级 变化
        @Path work.comeback.omo.controller.listener.RequestTotalListener
    -->
    <listener>
        <listener-class>work.comeback.omo.controller.listener.RequestTotalListener</listener-class>
    </listener>

    <!--
        @Desc RequestTotalGuard 监听 请求量级 变化
        @Path work.comeback.omo.controller.guard.RequestTotalGuard
    -->
    <servlet-mapping>
        <servlet-name>RequestTotalGuard</servlet-name>
        <url-pattern>/api/guard/getTotal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestTotalGuard</servlet-name>
        <servlet-class>work.comeback.omo.controller.guard.RequestTotalGuard</servlet-class>
    </servlet>

    <!--
        @Desc RegisteredPageServlet 监听 注册的页面 变化
        @Path work.comeback.omo.controller.guard.RegisteredPageGuard
    -->
    <servlet-mapping>
        <servlet-name>RegisteredPageServlet</servlet-name>
        <url-pattern>/api/guard/getRoutes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisteredPageServlet</servlet-name>
        <servlet-class>work.comeback.omo.controller.guard.RegisteredPageGuard</servlet-class>
    </servlet>
</web-app>